{% extends "layouts/main.html" %}

{% block content %}
  <vl-dropdown id="system" choices="{{ systems }}" value="{{ currentSystem|default:"" }}" placeholder="Elk systeem"></vl-dropdown>

  <vl-dropdown id="activity" choices="{{ activities }}" value="{{ currentActivity|default:"" }}" placeholder="Elke activiteit"></vl-dropdown>

  <vl-datetimepicker id="timerange" placeholder="Elke periode" value="{{ current_date_range|default:"" }}"></vl-datetimepicker>

  <div id="results">
    {% include "partials/results.html" %}
  </div>
{% endblock %}
