{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}
        {{ title }} —
      {% endif %}Verwerkingenlog
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png" />
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body class="bg-slate-50 text-gray-800">
    <header class="bg-white border-b border-slate-200">
      <div class="container mx-auto p-4">
        <a class="inline-flex items-center" href="/" hx-boost="true" hx-target="#results">
          <svg class="w-6 h-6 text-blue-500 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5zm6 12H7m6-5H7m4-5H7" />
          </svg>
          <h1 class="text-xl font-medium text-blue-800">Verwerkingenlog</h1>
        </a>
      </div>
    </header>

    <div class="container mx-auto px-4 py-6">
      {% block content %}
      {% endblock %}
    </div>

    <script src="{% static 'js/main.js' %}" defer></script>
  </body>
</html>
